
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
body
{
    overflow: hidden;
    background-color: #252c33;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.titleLinks
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
}
.streetgolsTitle
{
    font-size: 900%;
    color:#eee;
    font-family: 'Koulen', cursive;
}
.playanywhereSubTitle
{
    font-size: 600%;
    color:#eee;
    font-family: 'Lexend', sans-serif;
}

.appStoresDiv{
    width: 55%;
   margin: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.links
{
    margin-left: 1.5em;
}


.featuredPic
{
    margin-top: -1.25%;
}

.store {
  animation: hoverAnimation 2.5s infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes hoverAnimation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
  /* iPhone CSS ONLY */
  .iphone{
    scale: 1.5;
    margin-top: 200px;
    border: 4px solid #244f8f;
    border-radius: 50px;
  }
  .iphone-14{
    width: 300px;
    height: 600px;
    border: 5px solid black;
    background: #edff00;
    background-repeat: no-repeat;
    background-size: 301px 600px;
    border-radius: 47px;
    position: relative;
  }
  .dynamic-island{
    width: 100px;
    height: 25px;
    background: black;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    left: 100px;
    z-index: 99999;
    transition: all .5s;
  }
  .dynamic-island-camera{
    color: white;
    position: absolute;
    top: 18px;
    right: 110px;
    background: #121212;
    box-shadow: 0 0 1px grey;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    z-index: 99999;
    transition: all .5s;
  }
  .image-overlay
  {
    scale: 0.19;
    margin-left: -356px;
    margin-top: -220px;
    animation: rotateImage 5s infinite linear;
  }

  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(270deg);
      }
      100% {
        transform: rotate(360deg);
      }
  }

  #mobile
    {
        display: none;
    }

  
/* Mobile / 600px only */
@media screen and (max-width: 600px)
{
    #mobile
    {
        display: block;
    }
    #desktop
    {
        display: none;
    }
    body
    {
        overflow: hidden;
        background-color: #252c33;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .featuredPic
    {
        padding-left: 0%;
        margin-top: 50%;
    }
    .iphone
    {
        scale: 1.1;
        margin-top:-132px;
        border:0px solid #244f8f;
        margin-left: 11%;
    }
.titleLinksMOBILE
{
    display: flex;
    flex-direction: column;
}
.featuredTextMOBILE
{
    text-align: center;
}
.streetgolsTitleMOBILE
{
    font-size: 500%;
    color:#eee;
    font-family: 'Koulen', cursive;
    margin-top: 3%;
    margin-bottom: 1%;
}
.playanywhereSubTitleMOBILE
{
    font-size: 400%;
    color:#eee;
    font-family: 'Lexend', sans-serif;
    margin-top: 3%;
}

.appStoresDivMOBILE{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.downloadMOBILE
{
    font-size: 150%;
    background-color:#edff00;
    color:#252c33;
    border-radius:.7em;
    padding: 5%;
}
}


@media screen and (max-width: 900px)
{
  #mobile
  {
      display: block;
  }
  #desktop
  {
      display: none;
  }
  body
  {
      overflow: hidden;
      background-color: #252c33;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .featuredPic
  {
    text-align: center;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iphone
  {
      scale: 1.5;
      margin-top:-132px;
      border:0px solid #244f8f;
  }
.titleLinksMOBILE
{
  display: flex;
  flex-direction: column;
}
.featuredTextMOBILE
{
  text-align: center;
}
.streetgolsTitleMOBILE
{
  font-size: 500%;
  color:#eee;
  font-family: 'Koulen', cursive;
  margin-top: 3%;
  margin-bottom: 1%;
}
.playanywhereSubTitleMOBILE
{
  font-size: 400%;
  color:#eee;
  font-family: 'Lexend', sans-serif;
  margin-top: 3%;
}

.appStoresDivMOBILE{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.downloadMOBILE
{
  font-size: 150%;
  background-color:#edff00;
  color:#252c33;
  border-radius:.7em;
  padding: 5%;
}
}